@{
    if (Model.UseAtlas == false) return;
    var index = 0;
}
<section class="container m-b-35 p-t-25">
    <div class="m-b-10" style="display:flex;justify-content:center;">
        <h3>@Model.Name</h3>
    </div>
    <div class="row m-rl--1" id="imgs">
        @foreach (var item in Model.Medias)
        {
            var img =await Orchard.AssetProfileUrlAsync(item.Path as string,ConstString.Image_carousel_Orgin);
            <div class="col-6 col-md-3">
                <div class="m-b-10 pos-relative">
                    <a class="wrap-pic-w hov1 trans-03" data-toggle="modal" data-target="#myModal">
                        <img class="img-thumbnail" src="@img" alt="@item.Name" />
                    </a>
                </div>
            </div>
        }
    </div>
    @await DisplayAsync(Model.Pager)
</section>
<div class="modal fade" id="myModal">
    <div class="modal-dialog modal-lg" style="height:100%;max-height:100%;" id="mask">
        <div style="display:grid;justify-items:right;position:relative;z-index:10000;">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
        </div>
        <div id="demo" class="carousel">
            <ul class="carousel-indicators fixed-bottom" style="bottom:90px;overflow:hidden;justify-content:left;">
                @foreach (var item in Model.Medias)
                {
                    var indicatImg = await Orchard.AssetProfileUrlAsync(item.Path as string,ConstString.Image_carousel_indicat);
                    <li data-target="#demo" data-slide-to="@index" class="item-indicat-img @(index == 0 ?"active":"")">
                        <img src="@indicatImg" />
                    </li>
                    index++;
                }
            </ul>
            @{ index = 0; }
            <div class="carousel-inner max-img" role="listbox" style="height: 600px;">
                @foreach (var item in Model.Medias)
                {
                    <div class="carousel-item item-center col-12 @(index==0?"active":"")">
                        <img asset-src="@item.Path" />
                    </div>
                    index++;
                }
            </div>
        </div>
        <div>
            <a class="carousel-control-prev" href="#demo" data-slide="prev" style="position:fixed;">
                <span class="carousel-control-prev-icon"></span>
            </a>
        </div>
        <div>
            <a class="carousel-control-next" href="#demo" data-slide="next" style="position:fixed;">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
    </div>
</div>
<style at="Head">
    .modal {
        background-color: rgba(0,0,0,0.8);
        z-index: 1250;
    }
    .max-img img {
        max-height: 100%;
        max-width: 100%;
    }
</style>
<script at="Foot" async asp-name="braksn-atlas" version="1.0"></script>