@inject IContentManager contentManager
@{
    List<string> ids = Model.ContentItem.Content.PanelItemContent?.Items?.ContentItemIds?.ToObject<List<string>>();
    if (ids == null) return;
    var contents = await Orchard.GetContentItemsByIdAsync(ids);
}
<div class="col-md-6 p-rl-1">
    <div class="row m-rl--1">
        @foreach (var item in contents)
        {
            var itemBlogPost = item.Content.BlogPost;
            string itemImg = itemBlogPost.Image?.Paths.Count > 0 ? itemBlogPost.Image.Paths[0] : ConstString.DefaultImage;
            itemImg = await Orchard.AssetProfileUrlAsync(itemImg, ConstString.Image_Template_Right);
            string taxonomyId = itemBlogPost.Category.TaxonomyContentItemId;
            List<string> termsIds = itemBlogPost.Category.TermContentItemIds?.ToObject<List<string>>();
            ContentItem itemCategory = null;
            if (termsIds.Count > 0)
            {
                itemCategory = await Orchard.GetTaxonomyTermAsync(taxonomyId, termsIds.First());
            }
            string subtitle = itemBlogPost.Subtitle?.Text;
            <div class="col-sm-6 p-rl-1 p-b-2">
                <div class="bg-img1 size-a-14 how1 pos-relative" style="background-image: url(@itemImg);">
                    <a display-for="item" class="dis-block how1-child1 trans-03" target="_blank"></a>
                    <div class="flex-col-e-s s-full p-rl-25 p-tb-20">
                        @if (itemCategory != null)
                        {
                            <a display-for="itemCategory" class="dis-block how1-child2 f1-s-2 cl0 bo-all-1 bocl0 bo-1-rad-4 hov-btn1 trans-03 p-rl-10 p-tb-4" target="_blank">@itemCategory.DisplayText.Ellipsize(10, ConstString.Default_Ellipsis)</a>
                        }
                        <h3 class="how1-child2 m-t-14">
                            @if (item.DisplayText?.Length > 32)
                            {
                                <a display-for="item" class="how-txt1 size-h-1 f1-m-1 cl0 hov-cl10 trans-03" title="@item.DisplayText" data-toggle="tooltip" target="_blank">@item.DisplayText.Ellipsize(32, ConstString.Default_Ellipsis)</a>
                            }
                            else
                            {
                                <a display-for="item" class="how-txt1 size-h-1 f1-m-1 cl0 hov-cl10 trans-03" target="_blank">@item.DisplayText</a>
                            }
                        </h3>
                        <span class="how1-child2 m-t-5">
                            <span class="f1-s-4 cl11">@subtitle.Ellipsize(28, ConstString.Default_Ellipsis)</span>
                        </span>
                    </div>
                </div>
            </div>
        }
    </div>
</div>