@{
    var blogPost = Model.ContentItem.Content.BlogPost;

    var dateTime = Model.ContentItem.CreatedUtc?.ToLocalTime().ToString(ConstString.Date_Format);
    string title = Model.ContentItem.DisplayText;
    string subtitle = blogPost.Subtitle?.Text;

    string listContentItemId = Model.ContentItem.Content?.ContainedPart?.ListContentItemId;
    if (string.IsNullOrEmpty(listContentItemId)) listContentItemId = Model.ContentItem.Content?.TermPart.TaxonomyContentItemId;
    var parentItem = await Orchard.GetContentItemByIdAsync(listContentItemId);
    bool hasCover = parentItem.Content.ContentSettingPart?.HasCoverList ?? true;
    var showToggle = hasCover ? title?.Length > 18 : title?.Length > 28;
}
<div class="p-r-0-sr991 how-bor2 m-b-10 p-b-5">
    <div class="pos-relative flex-wr-sb-s">
        @if (hasCover)
        {
            string img = blogPost.Image?.Paths.Count > 0 ? blogPost.Image.Paths[0] : ConstString.DefaultImage;
            img = await Orchard.ImageProfileResizeUrlAsync(img, ConstString.Image_List);
            string taxId = blogPost.Category.TaxonomyContentItemId;
            List<string> categoryTermsIds = blogPost.Category.TermContentItemIds?.ToObject<List<string>>();
            ContentItem category = null;
            if (categoryTermsIds.Any())
            {
                category = await Orchard.GetTaxonomyTermAsync(taxId, categoryTermsIds.First());
            }
            <a display-for="@Model.ContentItem" class="size-w-8 wrap-pic-w hov1 trans-03 w-full-sr575 m-b-10" target="_blank">
                @if (category != null)
                {
                    <span class="dis-sub-item-tag">@category?.DisplayText</span>
                }
                <img asset-src="@img" alt="@title"/>
            </a>
        }
        <div class="size-w-@(hasCover?9:11) w-full-sr575">
            <div class="cl8">
                <a href="#" class="f1-s-4 cl8 hov-cl10 trans-03">@Model.ContentItem.Author</a>
                <span class="f1-s-3 m-rl-3"> - </span>
                <span class="f1-s-3">@dateTime</span>
            </div>
            <h2>
                @if (showToggle)
                {
                    <a display-for="Model.ContentItem" class="f1-l-2 cl2 hov-cl10 trans-03 respon2" data-toggle='tooltip' title='@title' target="_blank">@title.EllipsizeUtf8(hasCover ? 18 : 28)</a>
                }
                else
                {
                    <a display-for="Model.ContentItem" class="f1-l-2 cl2 hov-cl10 trans-03 respon2" target="_blank">@title</a>
                }
            </h2>
            <p class="f1-s-1 cl6 p-b-15">
                @subtitle.EllipsizeUtf8(hasCover ? 81 : 120)
            </p>
        </div>
    </div>
</div>

